name: GitOps Deployment

on:
  workflow_dispatch:
    inputs:
      service:
        description: "Service name (auth / order)"
        required: true
        type: string
      image:
        description: "Docker image tag"
        required: true
        type: string
      replicas:
        description: "Number of replicas"
        required: true
        type: number

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Run GitOps script
        run: |
          cd gitops
          go run main.go \
            --service ${{ inputs.service }} \
            --image ${{ inputs.image }} \
            --replicas ${{ inputs.replicas }}

      - name: Commit & Push changes
        run: |
          git config user.name "gitops-bot"
          git config user.email "gitops-bot@github.com"
          git add .
          git commit -m "GitOps: update ${{ inputs.service }}"
          git push
